html{
    height: 100%;
    width: 100%;
    display: flex;
}

body{
    height: 100%;
    width: 100%;
    display: flex;
}

.doorway-container{
    height: 100%;
    width: 100%;
}

.doorway-div{

}

.doortitlediv{

}

.doortitletxt{

}

.doorbdydiv{

}

.sectionsecdiv{

}

.sectionsec{

}

.sectitlediv{

}

.sectitle{

}

.secbdydiv{

}

.secfeeddiv{

}

.secfeed{

}

.secnotifsdiv{

}

/*Notification General Styling*/

.notif-div{

}

.notif-card{

}

.notif-top{

}

.notif-left{

}

.time-stamp-div{

}

.time-stamp{

}

.notif-right{

}

.notif-close-div{

}

.notif-close{

}

.notif-x{

}

.notif-btm{

}

.notif-content{

}

.notif-txt{

}