html{
    height: 100%;
    width: 100%;
    display: flex;
}

body{
    height: 100%;
    width: 100%;
    display: flex;
}

html, body {
    margin: 0;
    padding: 0;
}

.doorway-container{
    height: 100%;
    width: 100%;
    padding: 2rem;
}

.doorway-div{
    padding-bottom: 1rem;
    height: 100%;
}

.doortitlediv{
    padding-bottom: 1.2rem;
}

.doortitletxt{
    margin: 0;

}

.doorbackdiv{
    padding-bottom: 1rem;
}

.doorbackbtn{
    background-color: #4583FC;
    padding: 0.5rem;
    color: white;
    border-radius: 0.3rem;
    font-style: normal;
    text-decoration: none;
}

/*Container for Doorway Body Content*/

.doorbdydiv{
    /* width: 100%;
    height: 100%; */
    width: 100%; 
}

/**/

.sectionsec{
    height: 100%;
    width: 100%;
}

.delsection{
    /* height: 100%;
    width: 100%; */
    height: 100%;
    width: 100%;
}

.sectitlediv{
    width: 100%;
    padding-bottom: 1.2rem;
}

.sectitle{
    margin: 0;
}

.deltitlediv{
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.deltitle{
    margin: 0;
}


.sec-flex-container{
    display: flex;
    padding-bottom: 2rem;
}

.del-flex-container{
    display: flex;
    padding-bottom: 2rem;
}

/*Image Container*/
.secfeeddiv, .secnotifsdiv{

}

.sec-content{
    flex: 1 1 auto;
}

.del-content{
    flex: 1 1 auto;
}

/*List Holder*/
.secnotifsdiv{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.delfeeddiv, .delnotifsdiv{

}

/*Delivery Notification Styling*/

.delnotifsdiv{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.secfeeddiv{
    width: 50%;
}

.secfeed-img{
    width: 100%;
    height: auto;
    max-height: 100%;
}


.delfeeddiv{
    width: 50%;
}

.delfeed-img{
    width: 100%;
    height: auto;
    max-height: 100%;
}

.sec-list-div{
    position: relative;
    flex: 1 1 auto;
    width: 100%;
}


/*Notifications Card List*/
.sec-notifs-list{
    width: 100%;
    background-color: #cfcfcf;
    border-radius: 1rem;
    position: absolute;
    top: 0; 
    left: 0;
    right: 0; 
    bottom: 0;
    overflow-y: auto;
    
    /*display: flex;
    flex-direction: column;*/
}

.del-list-div{
    position: relative;
    flex: 1 1 auto;
    width: 100%;
}

.del-notifs-list{
    width: 100%;
    background-color: #cfcfcf;
    border-radius: 1rem;
    position: absolute;
    top: 0; 
    left: 0;
    right: 0; 
    bottom: 0;
    overflow-y: auto;
}


/*Notification General Styling*/

.notif-div{
    padding: 1rem;
    width: 100%;
}

.notif-card{
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
    width: 100%;
}

.notif-top{
    display: flex;
    justify-content: space-between;
}

.notif-left{

}

.time-stamp-div{

}

.time-stamp{

}

.notif-right{

}

.notif-close-div{
    
}

.notif-close{
    background-color: #ff4653;
    border-radius: 50%;
    border: 0;
    height: 1.2rem;
    width: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.notif-x{
    height: 0.7rem;
    width: 0.7rem;

}

.notif-btm{

}

.notif-content{

}

.notif-txt{
    margin: 0;
}


