<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" 
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="static/css/style.css"> -->
    <!-- Bedroom Page -->
    <!-- Light, AC Page -->
    <title>Bedroom Page</title>
</head>

<body>
    <div class="bedtitlediv">
        <h1 class="bedtitletxt">Smart Bedroom</h1>
    </div>

    <div class="bedbackdiv">
        <a href="../" class="bedbackbtn">Back to Main Menu</a>
    </div>

    <div class="bedbdydiv">

        <div class="bedlightdiv">
            <label for="lighttoggle">Light</label>
            <input type="checkbox" class="bedlighttoggle" id="lighttoggle" name="lighttoggle" value="Lighting">            
        </div>

        <div class="bedacdiv">
            <label for="actoggle">A/C</label>
            <input type="checkbox" class="bedactoggle" id="actoggle" name="actoggle" value="AC">            
        </div>

    </div>
    
</body>

</html>