<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" 
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!--<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" 
        crossorigin="anonymous"></script>-->
    <script src="{{ url_for('static', filename='jquery-3.7.0.js') }}"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="static/css/style.css"> -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/doorway.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/doorway.js') }}"></script>
    <!-- Doorway Page -->
    <!--Delivery - Camera, Security Motion - Ultra / Weight -->
    <title>Doorway Page</title>
</head>

<body>
    <div class="doorway-container">
        <div class="doorway-div">
            <div class="doortitlediv">
                <h1 class="doortitletxt">Smart Doorway</h1>
            </div>
        
            <div class="doorbackdiv">
                <a href="../" class="doorbackbtn">Back to Main Menu</a>
            </div>

            <!-- <div class="testdiv">
                <button onclick="createSecurityNotifCard()" class="testbtn" id="sec-btn">Add New Security Card</button>
            </div>

            <div class="testdiv">
                <button onclick="createDeliveryNotifCard()" class="testbtn" id="del-btn">Add New Delivery Card</button>
            </div> -->

            
            <div class="doorbdydiv">

                
                <section class="sectionsec">
                    <!--Title-->
                    <div class="sectitlediv">
                        <h1 class="sectitle">Security Camera</h1>
                    </div>

                    <!--Container-->
                    <div class="sec-flex-container">

                        
                        <div class="secfeeddiv sec-content">
                            <img src="{{ url_for('static', filename='images/security_placeholder.png') }}" 
                            class="secfeed-img sec-img-placeholder" id="sec-img-placeholder" 
                            alt="Security Camera Feed Placeholder">
                            <img src="#" 
                            class="secfeed-img" id="secfeed-img" 
                            alt="Security Camera Feed Image" onerror="imageError('secfeed-img')" onload="imageLoad('secfeed-img')">
                        </div>

                        
                        <div class="secnotifsdiv sec-content">

                            <div class="sec-list-div">
                                <div class="sec-notifs-list" id="sec-notifs-list">

                                    
                                    
                                </div>
                            </div>
                            
                            
                        </div>
                        
                    </div>


                    
                </section>
                
                <!--Delivery Section-->
                <section class="delsection">

                    <!--Delivery Title-->
                    <div class="deltitlediv">
                        <h1 class="deltitle">Delivery</h1>
                    </div>

                    <div class="del-flex-container">

                        <!--Delivery Image Container-->
                        <div class="delfeeddiv del-content">
                            <!--Delivery Image-->
                            <img src="{{ url_for('static', filename='images/delivery_placeholder.png') }}" class="delfeed-img del-img-placeholder" id="del-img-placeholder" alt="Delivery Camera Feed Placeholder" >
                            <!--Delivery Image-->
                            <img src="#" 
                            class="delfeed-img" id="delfeed-img" alt="Delivery Camera Feed Image" 
                            onerror="imageError('delfeed-img')" onload="imageLoad('delfeed-img')">
                            
                            <!-- <img src="{{ url_for('static', filename='images/Delivery_image.jpg') }}" 
                            class="delfeed-img" id="delfeed-img" alt="Delivery Camera Feed Image" 
                            onerror="imageError('delfeed-img')" onload="imageLoad('delfeed-img')"> -->
                        </div>

                        <!--List Container-->
                        <div class="delnotifsdiv del-content">

                            <div class="del-list-div">
                                <!--Delivery Notif List-->
                                <div class="del-notifs-list"  id="del-notifs-list">


                                </div>
                            </div>



                        </div>

                    </div>

                    

                </section>
        
            </div>

        </div>



    </div>

    
</body>

</html>